:root {
  /* primary colors */
  --primary-100: #d7eefe;
  --primary-200: #b4defe;
  --primary-300: #8bccfd;
  --primary-400: #64bafd;
  --primary-500: #3da9fc;
  --primary-600: #3187ca;
  --primary-700: #256597;
  --primary-800: #184465;
  --primary-900: #0c2232;

  /* grey */
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --grey-700: #374151;
  --grey-800: #1f2937;
  --grey-900: #111827;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts */
  --headingFont: "Spectral", serif;
  --bodyFont: "Karla", sans-serif;
  --smallText: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.2s linear;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
} /*16px*/

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

.form {
  width: 90vw;
  height: 90%;
  max-width: var(--fixed-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 3rem;
  margin: 3rem auto;
}

.title {
  text-align: center;
  font-weight: 800;
  margin-bottom: 1rem;
}

.label {
  display: block;
  text-transform: capitalize;
}

.input,
.textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.select {
  border: 1px solid;
  border-color: var(--grey-300);
  border-radius: var(--borderRadius);
  padding: 0.5rem;
  text-transform: capitalize;
  width: 100%;
}

.range {
  margin-top: 2rem;
  width: 100%;
}

.row {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 1rem;
  flex-direction: row;
}

.column {
  width: 50%;
  margin-bottom: 1rem;
}

.textarea {
  height: 7rem;
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details-title {
  text-align: center;
  margin: 1rem 0;
}

.vl {
  border-left: 1px solid grey;
}

.details-info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.75rem;
  }

  .row {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .details-info {
    flex-direction: column;
  }

  .total-down {
    margin-bottom: 1rem;
  }
}
